{% extends 'main.html' %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {% for list in lists %}
        <a style="color: {{list.color}}" href="{% url 'todo_list' list.id %}">{{list}}</a>
        <a href="{% url 'edit_list' list.id %}">edit</a>
        <a href="{% url 'delete_list' list.id %}">remove</a>
        <br>
    {% empty %}
        <h3>is Empty</h3>
    {% endfor %}
</form>

<form action="" method="POST">
    {% csrf_token %}
    <input name="title" placeholder="Write name list here...">
</form>
{% endblock content %}